<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{profileUser.name}}</h1>
    <div ng-repeat="link in todaysLinks">
      <strong>{{link.title}}</strong><br>
      <span>{{link.summary}}</span>
      <a ng-href="{{link.url}}" class="text-muted">{{link.url}}</a>
    </div>

    
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Archive:</h1>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="(date, list) in linkList">
            <h3>{{date}}</h3>
              <div ng-repeat="link in list">
                <strong>{{link.title}}</strong><br>
                <span>{{link.summary}}</span>
                <a ng-href="{{link.url}}" class="text-muted">{{link.url}}</a>
              </div>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Daily Links | site by
        <a href="https://github.com/cofauver">@cofauver</a> |
         curation by {{}}</p>
  </div>
</footer>
